<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://meyerweb.com/eric/tools/css/reset/reset.css"
    />
    <link rel="stylesheet" href="./css/main.css" />
    <title>Mini Player</title>
</head>
<body>
    <div class="wrapper" id="app">
        <img id="logo" src="img/potify.png">
        <div class="player">
            <div class="player__top">
                <div class="player-cover">
                    <transition-group :name="transitionName">
                        <div class="player-cover__item" v-if="$index === currentTrackIndex" :style="{ backgroundImage: `url(${track.cover})` }"  v-for="(track, $index) in tracks" :key="$index"></div>
                    </transition-group>
                </div>
            </div>
        </div>
    </div>
</body>
</html>